body {
    margin: 0;
    font-family: sans-serif;
}

/* HEADER */
header {
    background: #E4007F;
    color: white;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#menuButton {
    font-size: 20px;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: -240px;
    width: 240px;
    height: 100%;
    background: #111;
    color: white;
    padding: 20px;
    transition: 0.3s;
    z-index: 1000;
}

#sidebar.open {
    left: 0;
}

#sidebar button {
    display: block;
    background: none;
    color: white;
    border: none;
    padding: 10px 0;
    text-align: left;
    width: 100%;
}

/* MAIN */
main {
    padding: 15px;
}

.page {
    display: block;
}

.item {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}